<h2>Welcome to Shopping Organizer</h2>

<p>
  This application allows you to build a shopping list and consolidate the repetitive items.

  For example, if you have 4 tablespoons of butter on your list, and later you have 6 teaspoons of butter, you can consolidate that to: 6 tablespoons of butter.

  Try it: you'll like it!
</p>
<% if signed_in? %>
  <%= link_to "Go to your shopping lists", shopping_lists_path %> | <%= link_to "Sign Out", sign_out_path %>
<% else %>
  <%= link_to "Try it now!", sign_in_path, :class => 'signin_button' %>
<% end %>