<h2>Your Shopping Lists</h2>

<p><%= link_to 'Create a new shopping list', new_shopping_list_path %></p>

<table>
<% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.name, list %></td>
    <td><%= link_to "Delete shopping list", list, :method => 'delete', :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>